body {
  font-family: 'Josefin Sans', sans-serif;
}

.titulo {
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
}

.titulo-a {
  font-size: 35px;
}

.title-b {
  font-size: 50px;
}

.mimis h2 {
  font-size: 35px;
}

.portada {
  background-image: url("../images/background.JPG");
  color:white;
}
.mimis {
  color: #455A64;
}

.menu {
  font-size: 24px;
}

