body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  background: #fafafa;
}

input, textarea {
  outline-color: #009688;
  outline-width: 6px;
}

.contenedor {
  width: 800px;
  margin: auto;
}

.portada .button {
  margin-bottom: 100px;
}

.titulo {
  font-family: 'Lobster Two', cursive;
  font-size: 80px;
  margin-bottom: 20px;
  margin-top: 120px;
}

.titulo-a {
  font-size: 35px;
  margin-top: 0px;
}

.title-b {
  font-size: 50px;
  margin-bottom: 20px;
}

.mimis h2 {
  font-size: 35px;
}

.mimis li {
  font-size: 25px;
}

.portada {
  background-image: url("../images/background.JPG");
  color:white;
  padding: 20px;
  background-size: cover;
  height: 700px;
  -webkit-box-shadow: -8px 11px 9px -5px rgba(0,0,0,0.2);
-moz-box-shadow: -8px 11px 9px -5px rgba(0,0,0,0.2);
box-shadow: -8px 11px 9px -5px rgba(0,0,0,0.2);
}
.mimis {
  color: #455A64;
}

.menu {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  right: 0;
}

.menu a {
  color: white;
  text-decoration: none;
}
.menu li {
  display: inline-block;
  margin-left: 30px;
}

.menu li:before {
  content: "⇾";
}

.logo {
  display: inline-block;
  margin-left:0;
}

.mimis img {
  border-radius: 50%;
}

.mimi {
  /*overflow: hidden;*/
  border: 1px solid #455A64;
  padding: 10px;
  margin: 50px 50px 80px 50px;
  border-radius: 15px;
  background: white;
  -webkit-box-shadow: -8px 11px 9px 0px rgba(0,0,0,0.2);
-moz-box-shadow: -8px 11px 9px 0px rgba(0,0,0,0.2);
box-shadow: -8px 11px 9px 0px rgba(0,0,0,0.2);
}


.derecha {
  float: right;
  position: relative;
  top: -50px;
  right: -50px;
}

.izquierda {
  float: left;
  position: relative;
  top: -30px;
  left: -50px;
}

.contenedor-mimi-i {
  margin-left: 415px;
}

.header {
  position: relative;
}

.button {
  border-radius: 5px;
  background: #009688;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  margin-top: 3px;
  cursor: pointer;
  text-decoration: none;
}

.col2 .button {
  border-radius: 5px;
  background: #009688;
  color: white;
  border: none;
  padding: 8px;
  font-size: 15px;
  margin-top: 5px;
  cursor: pointer;
}

.footer {
  background: #455A64;
  color: white;
  -webkit-box-shadow: -8px -10px 9px -5px rgba(0,0,0,0.2);
-moz-box-shadow: -8px -10px 9px -5px rgba(0,0,0,0.2);
box-shadow: -8px -10px 9px -5px rgba(0,0,0,0.2);
}

.contacto {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  align-items: center;
}

.contacto img {
  display: block;
}

.contacto strong {
  display: block;
}

.contacto a {
  text-decoration: none;
  color: white;
  margin: 10px 10px 10px 0;
}

textarea {
  display: block;
}

.footer .contenedor{
  display: flex;
  justify-content: space-between;
}

.formulario {
  display: flex;
  width: 450px;
  padding: 40px 10px;
}

.col1, .col2 {
  display: flex;
  flex-direction: column;
}

.col1 {
  margin-right: 20px;
}

.formulario label, .sexo, .intereses {
  margin-top: 10px;
}

.intereses label {
  font-size: 16px;
  padding-top: 10px;
}
